*{
    font-family: 'Roboto', sans-serif;
    /* margin: 0;  */
    /* padding:0px; */
}

.hersey{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* height:100vh; */
    width:100%;
    margin: 0; 
    box-sizing: border-box;
}

body{
    margin:0px -2px;
}

ul{
    list-style-type: none;
    display:flex;
    margin:0px;
    padding:0px;
    gap: 20px;
    /* margin: 0;  */
}

/* li{
    margin: 0; 
} */

h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.tepe{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size:18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.tepe1{
    display:flex;
    padding: 20px;
    justify-content: space-between;
    width:80vw;
}

.headerlink{
    color:inherit;
    text-decoration: none;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.tepe2{
    display: flex;
    /* border: 3px solid red; */
    width:80vw;
    justify-content: space-around;
    padding: 40px;
}

.tepe2 img{
    max-width: 60vw;
    height: auto;
}

.button{
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    padding:10px 40px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.tepe2 .button{
    border:none;
    width: 4vw;
    text-align: center;
    /* align-self: center; */
}

.buyukdugme .button{
    border: 3px solid #F9FAF8;
}


/* .buyukdugme{
    border: 4px solid #F9FAF8;
} */

.sol{
    /* display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start; */
    max-width: 40vw;
}

/* Burada HERO bitiyor */
.card img{
    width:10vw;
    border: 6px solid #3882f6;
    border-radius: 15px;
}

.card{
    display:flex;
    flex-direction: column;
    text-align: center;
    width:10vw;
}

.album{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding: 30px;
    width:80vw;
    height: 30vh;
    gap:5vw;
    /* color: #E5E7EB; */
    /* border: 3px solid red; */
}

h2{
    font-size:36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

/* Burada album bitiyor */
.alinti{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    padding:50px;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; 
    margin:0px;
}

.kaynak{
    margin-top: 2vh;
    text-align: right;
    font-weight: 800;
    /* border: 3px solid red; */
}

/* Burada alinti bitiyor */

.buyukdugme
{
    display:flex;
    background-color: #3882f6;
    color: #F9FAF8;
    align-items: center;
    width:80vw;
    justify-content: center;
    margin: 10vh;
    padding: 15px;
    border-radius: 15px;
    gap: 5vw;
}


.buyukdugme h3{
    font-weight: 800;
    font-size:24px;
}

/* Burada buyuk dugme bitiyor */
.footer{
    background-color: #1F2937;
    color:#E5E7EB;
    width:100vw;
    display:flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; 
    margin:0px;
}

/* Resimleri Ortalamak icin */
/* div.center-cropped {
    width: 100px;
    height: 100px;
    overflow:hidden;
  }
  div.center-cropped img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  } */

